  
           </main>
           <footer>
                <p>Copyright <%=  new Date().getFullYear()%></p>
            </footer>
      
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="blogService.js"></script> 
    </body>
</html>
